body {
    margin: 0;
}

.box {
    width: 100%;
    height: 300px;
    background-color: lightgray;
    border: 5px black solid;
}

.relative {
    position: relative;
    top: 30px;
    left: 30px;
}

.fixed {
    width: 100%;
    height: 50px;
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
}

.sticky {
    width: 100%;
    height: 50px;
    background-color: red;
    position: sticky;
    top: 0;
}

.absolute {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 100px;
    right: 100px;
}