body {
    margin: 0;
}

.box {
    background-color: blue;
    width: 500px;
    height: 500px;
}

.box1 {
    background-color: green;
    width: 600px;
    height: 600px;
    margin: 100px;
    border: 3px solid black;
    padding: 50px;
}

.box2 {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 100px;
    padding: 50px;
    border: 10px solid black;
    box-sizing: border-box;
}

.box3 {
    background-color: yellow;
    height: 100px;
    margin: 100px;
    width: 100%;
    box-sizing: border-box;
}