.box {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: lightgray;
}

.self {
    align-self: center;
}