#container {
    width: 200px;
    margin: auto;
}

.block1 {
    background-color: yellow;
    border: 1px solid red;
}

.block2 {
    background-color: antiquewhite;
    border: 1px solid red;
}

.inline1 {
    background-color: aqua;
    border: 1px solid red;
}
.inline2 {
    background-color: aquamarine;
    border: 1px solid red;
}