.box1 {
    position: absolute;
    border: 1px solid red;
    background-color: indianred;
    width: 200px;
    height: 300px;
    top: 5px;
    left: 5px;
    z-index: 11;
}

.box2 {
    position: absolute;
    border: 1px solid darkgreen;
    background-color: green;
    width: 200px;
    height: 100px;
    top: 100px;
    left: 100px;
    z-index: 22;
}

.box3 {
    position: absolute;
    border: 1px solid darkblue;
    background-color: blue;
    width: 300px;
    height: 150px;
    top: 0px;
    left: 150px;
    z-index: 1000;
}