body {
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.breakLine {
    background-color: black;
    width: 100%;
    height: 10px;
}

.imageBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    flex-wrap: wrap;
}

.imageBox img {
    height: 300px;
    margin: 15px;
}