a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    font-size: 2em;
}

.text {
    width: 400px;
}

.text::first-letter {
    font-size: 50px;
}

.text::first-line {
    color: red;
}