.box {
    width: 40%;
    height: 100px;
    background-color: lightgreen;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: lightgray;
    flex-wrap: wrap;
    align-content: stretch;
}